form{
    label{
        font-family: 'Dune';
        color: $white;
        font-size: 12px;
    }

    input, textarea{
        background: transparent !important;
        border: 1px solid $white;
        border-radius: 0 !important;
        color: $white !important;
        font-family: 'Initia';

        &::placeholder{
            color: $c-hover !important;
        }

        &:focus{
            border: 1px solid $colored !important;
            outline: 10px solid $black !important;
        }
    }

    textarea{
        resize: none;
        padding-bottom: 20px !important;
    }

    button{
        background: $black !important;
        font-size: 12px !important;
        font-family: 'Current' !important;
        border: 1px $b-hover solid !important;
        padding: 5px 10px !important;
    }

    button:hover{
        border-color: $colored !important;
        color: $colored !important;
    }
}

.email-submitted{
    h3{
        color: $colored;
    }

    p{
        padding: 0 !important;
        text-align: center;
        margin-top: 5px;
    }
}