.switch{
    position: absolute;
    top: 50px;
    right: 50px;

    .switch-off{
        color: rgb(71, 71, 71) !important;
        background: transparent;
        font-size: 25px;
        cursor: pointer;
    }

    .switch-on{
        color: $white !important;
        background: transparent;
        font-size: 25px;
        cursor: pointer;
        text-shadow: 0px 10px 100px $colored !important;
    }
}
// ANIMATION

.cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
	z-index: 0;
}

.cover:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 19.65vw solid #0a0a0a;
	border-left-width: 35.1vw;
	border-right-width: 35.1vw;
	animation: turn-on 0.55s ease 0s 1, turned-on 1s ease 0.1s infinite,
	white-dot 0.35s ease 0.15s 1;
}

input:checked ~ .cover:before {
	animation: turn-on 0.15s ease 0s 1, turned-on 1s ease 0.15s infinite;
}

@keyframes turn-on {
	0% {
		border-width: 19.65vw;
		border-left-width: 35.1vw;
		border-right-width: 35.1vw;
	}
	50% {
		border-width: 19.65vw;
		border-left-width: 10vw;
		border-right-width: 10vw;
	}
	100% {
		border-width: 0vh;
		border-left-width: 0vw;
		border-right-width: 0vw;
	}
}
@keyframes turned-on {
	0% {
		border-width: 0;
	}
	100% {
		border-width: 0;
	}
}

@keyframes turn-off {
	0% {
		border-width: 0vh;
		border-left-width: 0vw;
		border-right-width: 0vw;
	}
	50% {
		border-width: 19.65vw;
		border-left-width: 10vw;
		border-right-width: 10vw;
	}
	100% {
		border-width: 19.65vw;
		border-left-width: 35.1vw;
		border-right-width: 35.1vw;
	}
}
@keyframes turned-off {
	0% {
		border-width: 19.65vw;
		border-left-width: 35.1vw;
		border-right-width: 35.1vw;
		background: #111111;
	}
	100% {
		border-width: 19.65vw;
		border-left-width: 35.1vw;
		border-right-width: 35.1vw;
		background: #111111;
	}
}
@keyframes white-dot {
	0% {
		background: #ffffff80;
	}
	100% {
		background: #111111;
	}
}