.btn-section{
    background: transparent;
    border: 1px solid $b-hover;
    color: $c-hover;

    &:hover{
        border-color: $colored;
        background: transparent;
        color: $white;
    }

    &:active{
        border-color: $colored !important;
        background: transparent !important;
        color: $white;
    }
}

.works-btn{
    button{
        padding: 5px 5px;
        background: $black;
    }
}