$white: #f5f5f5;
$black: #020202;
$b-transparent: #02020298;
$w-hover: #c5c5c5;
$b-hover: #202020;
$colored: #c0470d;

$react: #61DBFB;
$html: #F06529;
$css: #3C99DC;
$js: #F0DB4F;
$sass: #CD6799;
$bootstrap: #563d7c;
$mui: #5091D4;
$git: #F1502F;